*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.bounding { 
    width: fit-content;
    overflow: hidden;
}

.bounding .boundingelem{
    transform: translateY(100%);
}

#minicircle {
    transition: cubic-bezier(0.19, 1, 0.22, 1) .6s;
    width: 10px;
    height: 10px;
    background-color: #fff;
    border-radius: 50%;
    z-index: 99999;
    position: absolute;
}

#main {
    width: 100%;
    background-color: black;
}

#hero {
    position: relative;
    width: 100%;
    height: 100vh;
    color: #fff;
    background-color: black;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 40px;
    color: #fff;
}

#nav a{
    text-decoration: none;
    color: #fff;
}

#heading h1{
    margin-left: 80px;
    opacity: .6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10vw;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
}

#heading h2{
    margin-left: 80px;
    opacity: .6;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 10vw;
    font-weight: 900;
    line-height: 1;
    text-transform: uppercase;
}

#heading h2 {
    margin-left: 230px;
}

.blocktext {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.blocktext h5{
    text-align: right;
    font-size: 15px;
    text-transform: uppercase;
}

#sheading {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-top: 100px;
    padding-right: 30px;
    text-transform: uppercase;
}

#sheading h5{
    margin-top: .5vw;
    font-size: 1vw;
    text-align: right;
}

#herofooter{
    width: 100%;
    position: absolute;
    bottom: 2%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#herofooter a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-left: 20px;
}

#herofooter #iconset{
    display: flex;
    gap: 5px;
    margin-right: 10px;
}

#herofooter .circle{
    width: 22px;
    height: 22px;
    display: flex;
    justify-content: center;
    border-radius: 50%;
    background-color: #888;
}

#second {
    color: #fff;
    padding-top: 200px;
    padding-right: 10vw;
    background-color: black;
    width: 100%;
    min-height: 100vh;
    /* height: 100vh; */
}

.elem {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 3.5vw 3vw;
    padding-right: 0;
    border-top: 1px solid #888;
}

.elem h1 {
    font-size: 7.5vw;
    opacity: .7;
}

.elemlast {
    border-bottom: 1px solid #888;
}

.elem img {
    opacity: 0;
    height: 140%;
    z-index: 999;
    position: absolute;
}

#about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    color: #fff;
    padding: 10vw 2vw;
    padding-left: 40vw;
    width: 100%;
    background-color: black;
}

#textabout {
    width: 80%;
}

#textabout h5 {
    text-transform: uppercase;
    opacity: .6;
    margin-bottom: 10px;
}

#textabout p {
    line-height: 1.7;
    margin-bottom: 30px;
}

#textabout a {
    padding: 12px 22px;
    border: 1px solid #fff;
    border-radius: 100px;
    color: #fff;
    text-decoration: none;
    font-size: 12px;
}

#about img{
    width: 200px;
}

#subscribe {
    color: #fff;
    background-color: black;
    padding: 20px 30px;
    padding-bottom: 7vw;
}

#subscribe h5 {
    color: #888;
    text-transform: uppercase;
    opacity: .6;
}

#subscribe h3 {
    text-transform: uppercase;
    font-size: 14px;
    margin-top: 5px;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #fff;
    background-color: black;
    padding: 40px 30px;
}

#footerleft{
    display: flex;
    align-items: center;
    gap: 17px;
    font-size: 20px;
    padding: 10px 20px;
}

#footerright {
    display: flex;
    gap: 40px;
    padding: 10px 30px
}

#footer a{
    font-size: 17px;
    font-weight: 700;
    text-decoration: none;
    color: #fff ;
}